################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

Debug/
Release/
bin/
obj/
.vs/
/Build/*
!/Build/recreate-cmake.bat
/src/main.cpp~RF395725b1.TMP
